#inputBox{
    width: 100%;
    padding:.9rem 14px;
    margin: 1rem 0;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color:rgba(238, 241, 241, 0.463) ;
    color: #3b3c40;
    box-shadow: 0 1px 2px .5px rgba(2, 2, 26, 0.253);

}
#inputBox::placeholder{
    color: #4a4d4e;
}



