.register{
    width:100vw;
    height: 100vh;
    background-color: rgb(252, 246, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://akm-img-a-in.tosshub.com/businesstoday/images/story/201910/general_elections_2019_g_660_102219031127.jpg?size=1200:675");
    background-size: cover;
    background-position: center;
    background-blend-mode:overlay;
}

.registerWrapper{
    width: 80%;
    height: 70%;
    display: flex;

}
.registerLeft, .registerRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registerLogo{
    user-select: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6.5rem;
    font-weight: 800;
    text-shadow: 5px 0px  #f5911f;
    background: -webkit-linear-gradient(#e18925, #602500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.registerDesc{
    font-size: 19px;
    font-family: cursive, Verdana, sans-serif;
    user-select: none;
    color: #341808da;
    font-weight: 500;
}
.registerBox{
    box-shadow: 1px 4px 10px 1px #3418083c;
    min-height: 490px;
    padding:20px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registerInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #f67629;
    font-size: 18px;
    padding-left: 20px;
    outline-color: #f67829e9;
}
input::placeholder{
    color: #3c1806ae;
}
.registerButton{
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-image: -webkit-linear-gradient(#78bb48, #348035);
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
.alreadyRegisterButton{
    background-color: transparent;
    outline: none;
    border: none;
    color:#f08e1e;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.loginLink{
    width:100%;
}
.registerStatus{
    display: block;
    color:#f67629;
    font-weight: 500;
    margin: .2rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}