#btn{
    width: 100%;
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    background-color: #366ebb;
    user-select: none;
    padding:.9rem 14px;
    border-radius: .4rem;
    letter-spacing: .05rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 1px 2px .5px rgba(2, 2, 26, 0.253);

}
#btn:hover{
    font-weight: 600;
    background-color: #6dc2e9;
    color: rgb(241, 245, 246);
    box-shadow: 0px 4px 5px 0px rgba(47, 154, 183, 0.477);

}