.votingContainer{
    display: flex;
    width: 100%;
}
.voting{
    flex:10;
    width: 100%;
    height: 92vh;
   
}
.bold{
    font-weight: 500;
}
.votingWrapper{
    width: 80%;
    color:rgb(255, 255, 255);
    margin: 1rem 2rem;
    user-select: none;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    background-image: linear-gradient(#366ebb,#6dc2e9);
    padding: 10px 1rem;
    border-radius: .6rem;

}

/* Cards */
.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin: 1rem auto;
    align-items: flex-start;
    
}
.candidateCard{
    background-color: aliceblue;
    box-shadow: 0 2px 5px 0 rgba(0, 00, 0, .2);
    border: 1px solid #4348503f;
    overflow: hidden;
    border-radius: .4rem;
    position: relative;
}

.cardImg{
    overflow: hidden;
    padding: 0;
    background-color: #0D8ABC;
}
.cardImg .candidateId {
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px;
    background-color: #6dc2e9;
    border-radius: 0 0 .4rem 0;
    font-weight: 700;
    font-size: 1.1rem;
}
.cardImg > img {
    user-select: none;
    display: block;
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    transition: 200ms transform ease-in-out;
}

.cardDetails{
    text-align: center;
    background-color: #6dc2e9;
    color: aliceblue;
    padding: .6rem;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.cardDetails > p {
    text-transform: uppercase;
    overflow: hidden;

}
.cardButton {
    padding: .5rem;
}

.candidateCard:hover > .cardImg > img {
    transform: scale(1.3);
}
.voted{
    text-align: center;
    margin-top: 5rem;
    color:rgba(0, 00, 0, .2);
}
.voted h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
