.resultsContainer{
    display: flex;
    width: 100%;
    
}
.results{
    flex:10;
    width: 100%;
    height: 92vh;
   
}
.resultsWrapper{
    width: 80%;
    margin: 1rem 2rem;
    user-select: none;
}
.resultsSection {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0 1rem;

}
.rightSection{
    flex: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
    background-color: #fff3eb;
    border-radius: 6px;
    padding-bottom: .4rem;
    overflow: hidden;
    
}
.rightSection .resultText{
    background-image: linear-gradient(#f89827, #f67629) ;
    color:#f9f9f9;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: .7rem 0;
}
.rightSection .chart {
    min-height: 200px;
}

/* Table */

.resultTable, .rankTable{
    flex: 8;
    border-collapse:collapse;
    border-radius: 6px;
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
    color: #3c3e45;
    width: 100%;
}
.rankTable {
    color: #6b2c04;
    margin-top: 1rem;
}
.listHead, .rankHead{
    font-weight: 500;
    font-size: 1.1rem;
}
.listHead th {
    background-color: #366ebb;
    color: aliceblue;
    padding: 1rem;
}
.rankHead th {
    padding: .8rem;
    background-color: #f67629;
    color: #fff3eb;
}
.resultTable, .rankTable td{
    letter-spacing: 1px;
    padding: .4rem 0;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);

}
.resultTable tr{
    background-color: aliceblue;
}
.rankTable td{
    padding: 1rem 0;
    border: none;

}

.resultTable tr:hover{
    background-color: rgb(109, 186, 233);
    color: aliceblue;
}
.rankTable tr:hover {
    background-color: #ffb98e;
}

.toggle {
    background-color: #f67629;
    outline: none;
    border: none;
    color: #ffcd94;
    margin-bottom: .8rem;
    border-radius: 0 0 4px 4px;
    font-weight: 600;
    padding: .1rem .9rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    letter-spacing: 1px;
}
.toggle:hover{
    color: #f9f7e1;
}
